body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(72deg, #568fda 1%, #00002e 99%);
}

.content {
  height: 520px;
  width: 935px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.bar {
  width: 70px;
  height: 17px;
  border: 2px solid rgb(111, 114, 194);
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}

.bar:hover {
  background-color: rgb(78, 80, 151);
}

input {
  display: none;
}

.slides {
  display: flex;
  width: 700%;
  height: 100%;
}
.slide {
  width: 14.28%;
  transition: .6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -14.28%;
}

#slide3:checked ~ .s1 {
  margin-left: -28.56%;
}

#slide4:checked ~ .s1 {
  margin-left: -42.84%;
}

#slide5:checked ~ .s1 {
  margin-left: -57.12%;
}

#slide6:checked ~ .s1 {
  margin-left: -71.40%;
}

#slide7:checked ~ .s1 {
  margin-left: -85.68%;
}

@media(max-width: 1000px) {
  .content{
    width: 800px;
  }
}

@media(max-width: 800px) {
  .content{
    width: 600px;
    transform: translate(-25%, -25%);
  }
  .bar {
    width: 30px;
    height: 17px;
    border: 2px solid rgb(10, 13, 207);
    margin: 6px;
    border-radius: 5px;
  }
  .slide img {
    width: 75%;
    height: 75%;
  }
  .navigation {
    position: absolute;
    bottom: 130px;
    left: 25%;
    transform: translate(-25%);
    display: flex;
}
}

@media(max-width: 600px) {
  .content{
    width: 400px;
  }
  .bar {
    width: 10px;
    height: 17px;
    border: 2px solid rgb(140, 142, 241);
    margin: 6px;
    border-radius: 5px;
  }
  .slide img {
    width: 75%;
    height: 25%;
  }
  .navigation {
    position: absolute;
    bottom: 400px;
    left: 5%;
    transform: translate(-5%);
    display: flex;
}
}

@media(max-width: 400px) {
  .content{
    width: 200px;
  }
  .bar {
    width: 5px;
    height: 17px;
    border: 2px solid rgb(10, 13, 207);
    margin: 6px;
    border-radius: 5px;
  }
  .slide img {
    width: 75%;
    height: 25%;
  }
  .navigation {
    position: absolute;
    bottom: 400px;
    left: 5%;
    transform: translate(-5%);
    display: flex;
}
}